NODE_ENV=local
PORT=60002
OSSURL=http://127.0.0.1:60002/
#DB_PATH=C:\Users\xxx\AppData\Roaming\Electron\db.sqlite
#UPLOAD_DIR=C:\Users\xxx\AppData\Roaming\Electron\uploads
#DB_PATH=\\wsl$\Ubuntu\home\xxx\.config\Electron\db.sqlite
#UPLOAD_DIR=\\wsl$\Ubuntu\home\xxx\.config\Electron\uploads
#DB_PATH=/home/xxx/.config/Electron/db.sqlite
#UPLOAD_DIR=/home/xxx/.config/Electron/uploads
DB_PATH=D:\Users\xxx\tools\Toonflow-game\toonflow-app-run-db\db.sqlite
UPLOAD_DIR=D:\Users\xxx\tools\Toonflow-game\toonflow-app-run-db\uploads
AI_VIDEO_DEBUG=1
AI_VIDEO_POLL_MAX_ATTEMPTS=500
AI_VIDEO_POLL_INTERVAL_MS=20004
#LOG_LEVEL=DEBUG/INFO/WARN/ERROR
LOG_LEVEL=DEBUG
# default C:\Users\xxx\AppData\Roaming\Electron\logs\app-2026-03-26.log
LOG_PATH=D:\Users\xxx\tools\Toonflow-game\toonflow-game-app\logs
TEST_MODEL_TIMEOUT_MS=180000
DEBUG_AI_TEXT=0
DEBUG_AI_TEXT_VERBOSE=0
AI_TEXT_DEBUG_HTTP=0
AI_TEXT_DEBUG_HTTP_AUTO=1
AI_TEXT_DEBUG_HTTP_VERBOSE=0
# tmpfiles.org/file.io/transfer.sh/Cloudflare R2
TEMP_OSS=tmpfiles.org
# local MODNet 可以考虑更高的配置例如：3,5,15,512
# local BiRefNet 建议使用默认配置,2,4,10,512
# mp4 转动图的生成速度，3 代表3倍速也就并发处理3帧，默认为1
VIDEO_TO_ANIMATION_MULTIPLIED_SPEED=3
# mp4 转动图动作帧的秒数，默认4
MAX_GIF_DURATION_SECONDS=5
# 每秒多少帧，默认10
GIF_FPS=15
FRAME_OUTPUT_SIDE=512
