NODE_ENV=local
PORT=60000
OSSURL=http://127.0.0.1:60000/
#DB_PATH=C:\Users\xxx\AppData\Roaming\Electron\db.sqlite
#UPLOAD_DIR=C:\Users\xxx\AppData\Roaming\Electron\uploads
#DB_PATH=\\wsl$\Ubuntu\home\xxx\.config\Electron\db.sqlite
#UPLOAD_DIR=\\wsl$\Ubuntu\home\xxx\.config\Electron\uploads
#DB_PATH=/home/xxx/.config/Electron/db.sqlite
#UPLOAD_DIR=/home/xxx/.config/Electron/uploads
DB_PATH=D:\Users\xxx\tools\Toonflow-game\toonflow-app-run-db\db.sqlite
UPLOAD_DIR=D:\Users\xxx\tools\Toonflow-game\toonflow-app-run-db\uploads
AI_VIDEO_DEBUG=1
AI_VIDEO_POLL_MAX_ATTEMPTS=500
AI_VIDEO_POLL_INTERVAL_MS=20004
#LOG_LEVEL=DEBUG/INFO/WARN/ERROR
LOG_LEVEL=DEBUG
# default LOG_PATH=C:\Users\xxx\AppData\Roaming\Electron\logs\app-2026-03-26.log
LOG_PATH=D:\Users\xxx\tools\Toonflow-game\toonflow-game-app\logs
TEST_MODEL_TIMEOUT_MS=180000
DEBUG_AI_TEXT=0
DEBUG_AI_TEXT_VERBOSE=0
AI_TEXT_DEBUG_HTTP=0
AI_TEXT_DEBUG_HTTP_AUTO=1
AI_TEXT_DEBUG_HTTP_VERBOSE=0
# tmpfiles.org/file.io/transfer.sh/Cloudflare R2
TEMP_OSS=tmpfiles.org