home = D:\ProgramData\miniconda3
include-system-site-packages = false
version = 3.13.5
executable = D:\ProgramData\miniconda3\python.exe
command = D:\ProgramData\miniconda3\python.exe -m venv D:\Users\viaco\tools\Toonflow-game\toonflow-game-app\Toonflow-game\tools\avatar-matting\birefnet\venv
